services:
  mutation-testing:
    build:
      context: .
      dockerfile: dockerfile
    container_name: fastapi-mutation-testing
    volumes:
      - .:/app
    working_dir: /app
    stdin_open: true
    tty: true
    environment:
      - PYTHONUNBUFFERED=1